<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938193404358-5c0nfei2g4ngv6g2duv8q7bn2e25vs0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938193404358-5c0nfei2g4ngv6g2duv8q7bn2e25vs0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDr11Nu6Ak-4JZhHdg9sxQ_3RvrGJcSG-A</string>
	<key>GCM_SENDER_ID</key>
	<string>938193404358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.bancoestado.empresas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>app-empresas-f603c</string>
	<key>STORAGE_BUCKET</key>
	<string>app-empresas-f603c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938193404358:ios:1028a57c960612e3af72c7</string>
</dict>
</plist>